@import "main_style.css";

.about-section a {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .about-section img {
    display: block;
    width: 100%;
    height: auto;
  }