@import "main_style.css";

#home p {
    max-width: 175ch;
    margin: auto;
}

.about-section a {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid black;
  }
  
.about-section img {
  display: block;
  width: 100%;
  height: auto;
}