/* Global styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #999;
}

a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s ease;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0 0 1rem;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Header styles */
header {
  background-color: #222;
  color: #fff;
  padding: 1rem;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

header h1 {
  font-size: 2.5rem;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin-left: 1rem;
  margin: 0 20px;
}

nav li:first-child {
  margin-left: 0;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #ddd;
  color: #333;
  border-radius: 4px;
  text-decoration: none;
}

/* Main styles */
main {
  padding: 2rem 0;
  animation-name: slide-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes slide-in {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0%);
  }
}

.project {
  border: 1px solid #ccc;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 5px;
  overflow: hidden;
}

.project h2 {
  margin: 0;
}

.project p {
  margin-top: 0.5rem;
  color: #666;
}

.project a {
  display: block;
  margin-top: 0.5rem;
  color: #007bff;
}

.project a:hover {
  text-decoration: underline;
}

/* Footer styles */
footer {
  position: fixed;
  bottom: 0;
  background-color: #222;
  color: #fff;
  padding: 1rem;
  width: 100%;
}

footer p {
  margin: 0;
}

@media only screen and (max-width: 600px) {

  /* Header styles */
  header h1 {
    font-size: 2rem;
  }
  
  nav {
    flex-direction: column;
    align-items: center;
  }
  
  nav li {
    margin: 0;
  }
  
  nav a {
    display: block;
    padding: 10px;
  }
  
  /* Main styles */
  main {
    padding: 1rem;
  }
  
  .project {
    padding: 0.5rem;
  }
  
  footer {
    position: sticky;
  }
}