@import "main_style.css";

.project {
  border: 1px solid #000000;
  padding: 20px;
  margin: 20px; 
  max-width: 700px;
  margin: auto;
}

.project p {
  color: #000000;
}

.jumper_dude_img {
  zoom: 40%;
  padding: 55px;
}

.github_icon {
    width: 45px;
    height: 45px;
}

.LIForCars_img {
  zoom: 50%;
  padding: 85px;
}

@media only screen and (max-width: 600px) {
  .photo_project {
    display: block;
    padding: 20px;
    margin-right: 25px;
  }

  .jumper_dude_img {
    zoom: 17%;
    margin-left: -70px;
  }
  
  .LIForCars_img {
    zoom: 17%;
    margin-left: -70px;
  }
  
  .project p {
    font-size: 15px;
  }
}
