@import "main_style.css";

.projects ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  border: 1px solid #000000;
  padding: 20px;
  margin: 20px; 
  max-width: 700px;
  align-self: center;
}

.project p {
  color: #000000;
}

.github_icon {
    width: 45px;
    height: 45px;
  }